{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["/"],
        "alias": {
          "@components": "./components",
          "@api": "./api",
          "@models": "./models",
          "@screens": "./screens",
          "@hooks": "./hooks",
          "@services": "./services",
          "@constants": "./constants.",
          "@context": "./context",
          "@queries": "./queries",
          "@data": "./data",
          "@typeDefs": "./types",
          "@generated": "./generated",
          "@public": "./public",
          "@libs": "./libs",
          "@utils": "./utils",
          "@app": "./app",
          "@assets": "./assets",
          "@styles": "./styles"
        }
      }
    ]
  ]
}
